
body{
  background-color: : grey;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(https://as2.ftcdn.net/jpg/02/33/16/13/500_F_233161323_8mf3BKBCfFkg85sMPZsmvQAirpP4SMQR.jpg);
  color:white;
  }
  #por{
    font-size: 100px;
    margin-top: 0px;
  }
  p{
    font-size:200%;
    clear:right;
    margin-top: 150px;
    font-family: 'Pacifico', cursive;
    margin-left: 15px;
}
h1{
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
  font-family: 'Lobster', cursive;
  padding:20px;
  font-size:50px;
}
nav ul{
margin: 0;
float:right;
}
nav ul li{
  display:inline;
  padding :10px;
  margin: 15px;
  font-family: 'Orbitron', sans-serif;
  background-color: grey;
  border-radius: 10px;

  }
  nav ul li a{
    text-align: center;
    text-decoration: none;
    color: red;
  }
.description{
    font-family: 'Knewave', cursive;
    float:right;
  }
  .img{
    height:300px;
    width:300px;
    float:left;
  }
  #demo{
    font-family: 'Alfa Slab One', cursive;
  }
  .Experiences{
    font-family: 'Bangers', cursive;
    clear: center;
  }
.intro{
  text-align: center;
  margin-bottom: 100px;
  margin-top: 200px;
}
.change{
  background-color: black;
  color:white;
}
.image{
  float: right;
  height: 350px;
  width:400px;
  margin-top: 150px;

}
.con{
  clear:left;
  margin-top:200px;
}
.experiences h2{
  clear: center;
}
.link ol li{
  font-family: 'Russo One', sans-serif;
}

.experiences h1 h2{
  float: center;
}
.mor{
  clear: left;
}
a:hover{
  background-color: green;
  text-transform: uppercase;
}
h2{
  margin-left: 100px;
  font-family: 'Pacifico', cursive;
}
.coo{
  font-family: 'Cabin Sketch', cursive;
  padding: 10px;
  font-size: 25px;
  }
.reach{
  clear: right;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline;
  padding:5px;
}
#home{color:black;}

footer{
  background-image: url(https://as1.ftcdn.net/jpg/02/33/16/10/500_F_233161074_eP0AneAPpTWOniQI2ZMaprOHCQrCPKcu.jpg);
  color: black;
}
